<%= form_for(@guide) do |f| %>
  <% if @guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% @guide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Guide Name" %>
  </div>
  
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, :cols => "30", :rows => "10", :placeholder => "Guide Description" %>
  </div>

  <div id="submit-guide">
    <%= f.submit 'done', :class => 'button' %>
  </div>

<% end %>