<div class="side-bar">
    <% @guides.each do |guide| %>
      <div class="item" id="<%= guide.url_key %>">
        <%= link_to guide.name, guide %>
        <div class ="description" >
          <%= guide.description %>
        </div>
        <% if user_is_creator?(guide) %>
          <%= link_to 'Edit', edit_guide_path(guide) %>
          <%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
    <script type="text/javascript">

        markers = <%=raw @locations.to_json %>;
        placeMarkers = [];

        var lat = <%= current_user.latitude %>;
        var lng = <%= current_user.longitude %>;
        myLocation = new google.maps.LatLng(lat, lng);
        mapOptions = {
          center: new google.maps.LatLng(myLocation.lat(), myLocation.lng()),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        function addMarker(marker_info) {
            var latLng = new google.maps.LatLng(marker_info.latitude, marker_info.longitude);
            var content = marker_info.infowindow;

            var marker = new google.maps.Marker({
                position: latLng,
                map: null,
                title: marker_info.title,
            });

            if (marker_info.drop) {
                marker.setAnimation(google.maps.Animation.DROP);
            }

            marker.id = marker_info.id;
            placeMarkers.push(marker);

            var myOptions = {
                content: content,

                disableAutoPan: false,
                maxWidth: 150,
                pixelOffset: new google.maps.Size(-140, 0),
                zIndex: null,
                boxStyle: {
                    background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
                    opacity: 0.85,
                    width: "280px"
                },
                closeBoxMargin: "8px 4px 2px 2px",
                closeBoxURL: "x",
                infoBoxClearance: new google.maps.Size(1, 1)
            };
            
            google.maps.event.addListener(marker, 'click', function(e) {
                console.log(e)
                // map.setZoom(13);
                // map.setCenter(newPingaMarker.getPosition());
            });
          }

        markers.forEach(function(marker){
          addMarker(marker);
        });

        function setAllMap(map) {
            for (var i = 0; i < placeMarkers.length; i++) {
                placeMarkers[i].setMap(map);
            }
            
        }

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        setAllMap(map);

  </script>
</div>