<div id="map-canvas"></div>
<div class="sidebar">
    <% @guides.each do |guide| %>
    <% if guide %>
      <div class="item" id="<%= guide.id %>">
        <%= link_to guide.name, guide %>
        <div class ="description" >
          <%= guide.description %>
        </div>
        <% if user_is_creator?(guide) %>
          <%= link_to 'Edit', edit_guide_path(guide) %>
          <%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
    <% end %>
    <script type="text/javascript">

        markers = <%=raw @locations.to_json %>;
        placeMarkers = [];

        var currentMark;

        var lat = <%= @search_center[0] %>;
        var lng = <%= @search_center[1] %>;
        myLocation = new google.maps.LatLng(lat, lng);
        mapOptions = {
          center: new google.maps.LatLng(myLocation.lat(), myLocation.lng()),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        function addMarker(marker_info) {
            var latLng = new google.maps.LatLng(marker_info.latitude, marker_info.longitude);
            var content = marker_info.infowindow;

            var marker = new google.maps.Marker({
                position: latLng,
                map: null,
                title: marker_info.name,
            });

            if (marker_info.drop) {
                marker.setAnimation(google.maps.Animation.DROP);
            }

            marker.id = marker_info.id;
            marker.guideId = marker_info.guide_id;
            marker.name = marker_info.name;
            marker.description = marker_info.description;
            marker.contentString = "<b>" + marker.name +"</b></br>" + marker.description; 

            placeMarkers.push(marker);

            infowindow = new google.maps.InfoWindow(); 

            google.maps.event.addListener(marker, 'click', function(e) {
              onItemClick(marker, map); 
                
            });

            google.maps.event.addListener(marker, 'mouseover', function(e) {
              onItemMouseOver(e, marker); 
            });

            google.maps.event.addListener(marker, 'mouseout', function(e) {
              onItemMouseOut(e, marker); 
            });

            google.maps.event.addListener(infowindow, 'closeclick', function(e){
              onItemMouseOut(e, currentMark);
            });

            function onItemClick(marker,map) { 
              currentMark = marker;
              disableOnItemMouseOut(marker);
              createInfoBox(marker,map);
            }



            function onItemMouseOver(event, marker){
              highlightGuide(marker);
            }
            function onItemMouseOut(event, marker){
              $("#"+marker.guideId).removeClass("highlighted");
            }

            function disableOnItemMouseOut(marker){
              google.maps.event.addListener(marker, 'mouseout', function(e) {
                highlightGuide(marker); 
              });
            }

            function highlightGuide(marker){
              $("#"+marker.guideId).addClass("highlighted");
            }

            function createInfoBox(marker,map){
              infowindow.setContent(marker.contentString); 
              infowindow.setPosition(marker.position); 
              infowindow.open(map) 
            }
          }

        markers.forEach(function(marker){
          addMarker(marker);
        });

        function setAllMap(map) {
            for (var i = 0; i < placeMarkers.length; i++) {
                placeMarkers[i].setMap(map);
            }
            
        }

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        setAllMap(map);

  </script>
</div>